:root {
    --font-family: 'Nunito', sans-serif;
    --navy-blue: #065a82;
    --blue-grotto: #00b4d8;
    --white: #eaeae0;
    --yellow: #ffc41f;
    --bluish-white:#caf0f8;
    --light-blue:#90e0ef;
    --font-size-normal: 400;
    --font-size-medium : 500;
    --font-size-bold: 700;
    --font-size-bolder: 900;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: -2rem 0rem;
}
.text {
    width: 60%;
    height: 100%;
    word-break:keep-all;
    padding: 0 3rem 0 0;
}
.text p{
    font-size: 0.9rem;
    letter-spacing: 1px;
    word-break:keep-all;
    color: #36454f;
}

.highlight{
    color: var(--yellow);
    font-size: 0.9rem;
}

.text h1{
    font-size: 2rem;
    font-weight: var(--font-size-normal);
    display: flex;
    justify-content: center;
    color: var(--light-blue);
    padding: 0 0 0.7rem 1rem;
    position: relative;
    
}

.text h1::after {
    position: absolute;
    content:" ";
    display: block;
    left: 44%;
    bottom:25%;
    width: 0%;
    height: 4px;
    background-color: var(--light-blue);
    transition: all 500ms ease-in-out;
}

.text h1:hover::after {
    width: 15.5%;
}

.image {
    width: 40%;
    height: 100%;
}
.image img {
    width: 125%;
    height: 125%;
    z-index: 999;
}

@media screen and (max-width: 1050px) { 
    .section {
        flex-direction: column;
    }
    .extras{
        display: none;
    }
    .text{
        padding : 0 1rem 0 0 ;
    }
}

