@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600&display=swap');


:root {
    --font-family: 'Nunito', sans-serif;
    --navy-blue: #065a82;
    --blue-grotto: #00b4d8;
    --yellow: rgb(255, 196, 31);
    --white: #eaeae0;
    --bluish-white:#caf0f8;
    --light-blue:#90e0ef;
}


.navbar {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.4rem 1rem;
}

.navbar.shadow{
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.4rem 1rem;
    filter: drop-shadow(0 0.1rem 0.1rem #eee);
}

.navbar_links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar_logo {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-title {
    font-family: 'Overpass', sans-serif;
    font-size: 23px;
    color: #133667;
    font-weight:500;
}

.navbar_logo img {
    width: 75px;
    height: 60px;
}

.navbar_link_list {
    display: flex;
    flex-direction: row;
}

.small-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_get_quote {
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.null{
    display: none;
}

.link,
.navbar_get_quote p {
    display: inline-block;
    color: var(--navy-blue);
    font-size: 0.9rem;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 2rem;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.link {
    position : relative;
}

.link::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2.3px;
    border-radius: 10%;
    background: var(--yellow);
    transition: all 200ms ease-in-out;
    transition-delay: 100ms;
}

.link:hover::after {
    left: 0;
    width: 100%;
}

.btn {
    display: inline-block;
    width: 140px;
    height: 40px;
    background: var(--navy-blue);
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 0rem 0.5rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px, rgba(10, 37, 64, 0.25) 0px -2px 6px 0px inset;

}
.btn p {
    color: var(--white);
}


.link:hover {
    color: var(--navy-blue);
    transition: all 250ms ease-in;
}

.btn-login{
    display: inline-block;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background: var(--yellow);
    margin: 0rem 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 196, 31, 0.5) 0px 30px 60px -30px, rgba(255, 196, 31) 0px -2px 6px 0px inset;

}

.btn-login p{
    color: #fff;
}


.menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.menu svg {
    cursor: pointer;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: #fff;
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 8px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.6);
}

.menu_button{
    display: none;
}

.btn-menu {
    width: 140px;
    height: 40px;
    background: var(--navy-blue);
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 0.5rem 1rem 0 1rem;
}

.btn-menu p {
    color: var(--white);
}

.btn-login-menu{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--blue-grotto);
    margin: 0.5rem 1rem;
}

.btn-login-menu p{
    color: #fff;
}


@media screen and (max-width: 1050px) {
    .navbar_link_list {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media  screen and (max-width: 1400px) and (min-width: 1050px) {
    .link {
        font-size: 0.85rem;
    }
    .menu_button {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .menu {
        padding: 1rem 0rem;
    }
    .navbar_get_quote {
        display: none;
    }
    
    .menu_button {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .menu {
        padding: 0rem;
    }

    .navbar_get_quote {
        display: none;
    }

    .menu_button {
        display: block;
    }
}