@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600&display=swap');

$navy-blue: #065a82;
$blue-grotto: #00b4d8;
$white: #fff;
$grey: #aeaeae;
$black:#000;
$yellow: #ffc41f;
$bluish-white:#caf0f8;
$light-blue:#90e0ef;
$font-weight-normal: 400;
$font-weight-medium : 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

.navbar {
    background: rgba($white,0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navbar.shadow{
    background: rgba($white, 1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    filter: drop-shadow(0 0.1rem 0.1rem #eee);
}

.navbar_links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar_logo {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 75px;
        height: 60px;
    }
}

.logo-title {
    font-family: 'Overpass', sans-serif;
    font-size: 24.5px;
    color: #133667;
    font-weight:400;
}

.navbar_link_list {
    display: flex;
    flex-direction: row;
}

.side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_contact {
    display: flex;
    justify-content: end;
    align-items: center;
    
    p {
        display: inline-block;
        color: $navy-blue;
        font-size: 1rem;
        font-family: $font-weight-normal;
        font-weight: 500;
        line-height: 2rem;
        text-transform: capitalize;
        margin: 0 1rem;
        cursor: pointer;
    }
}


.link {
    display: inline-block;
    color: $navy-blue;
    font-size: 1.07rem;
    font-family: $font-weight-normal;
    font-weight: 500;
    line-height: 2rem;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.link {
    position : relative;

    &:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 2.8px;
        border-radius: 10%;
        background: $yellow;
        transition: all 200ms ease-in-out;
        transition-delay: 100ms;
    }

    &:hover::after {
        left: 0;
        width: 100%;
    }
}

.btn-in {
    display: inline-block;
    width: 140px;
    height: 43px;
    background: $yellow;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 0rem 0.5rem;
    cursor: pointer;
    p {
        color: $white;
    }
}

.btn-up{
    display: inline-block;
    width: 140px;
    height: 43px;
    background: $navy-blue;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 0rem 0.5rem;
    cursor: pointer;
    p {
        color: $white;
    }
}

.menu {
    margin-left: 1rem;
    display: none;
    position: relative;

    svg {
        cursor: pointer;
    }
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: $white;
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 8px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.6);
}


@media screen and (max-width: 1050px) {
    .navbar_link_list {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media  screen and (max-width: 1400px) and (min-width: 1050px) {
    .link {
        font-size: 0.85rem;
    }
    
}

@media screen and (max-width: 700px) {
    .menu {
        padding: 1rem 0rem;
    }
    .navbar_contact {
        display: none;
    }
    
}

@media screen and (max-width: 550px) {
    .menu {
        padding: 0rem;
    }

    .navbar_contact {
        display: none;
    }

}