@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600&display=swap');
$navy-blue: #065a82;
$blue-grotto: #00b4d8;
$white: #fff;
$grey: #aeaeae;
$black:#000;
$yellow: #ffc41f;
$bluish-white:#caf0f8;
$light-blue:#90e0ef;
$font-weight-normal: 400;
$font-weight-medium : 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;

}



.navbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 75px;
        height: 60px;
    }
}

.logo-title {
    font-family: Avenir;
    font-size: 24.5px;
    color: #133667;
    font-weight:400;
}

.navbar_link_list {

}

.side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}



.link {
    display: inline-block;
    color: #000;
    text-align: center;
    font-family: Avenir;
    
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0 2rem;
    cursor: pointer;
}





.menu {
    display: none;
    position: relative;

    svg {
        cursor: pointer;
    }
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: $white;
    padding: 2rem 1rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 0rem;
    min-width: 210px;
    border-radius: 8px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.6);
}

.menu_link_list{
    .link{
        margin-top: 0.5rem;
    }
}



@media screen and (min-width: 1050px) {
    .side-nav{
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .navbar_link_list {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media  screen and (max-width: 1400px) and (min-width: 1050px) {
    .link {
        font-size: 1.07rem;
    }
    
}

@media screen and (max-width: 700px) {
    .menu {
        padding: 1rem 0rem;
    }
    
}

@media screen and (max-width: 550px) {
    .menu {
        padding: 1rem;
    }


}