$navy-blue: #065a82;
    $blue-grotto: #00b4d8;
    $blue:rgb(107,166,236);
    $white: #fff;
    $yellow: #ffc41f;
.contact-tab{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 1rem 2rem 0 2rem;
    margin-bottom: 1.5rem;
    img{
        width: 20%;
        height: 20%;
    }
}
.contact-tab-content{
    min-height: 30vh;
    width: 75%;
    background:$blue;
    border-radius: 20px;
    padding: 1.8rem;
  h1{
    font-size: 1.9rem;
    font-weight: 600;
    color: $white;
    text-align: start;
    font-weight: 700;
  }
}
.contact-tab-contact{
    display: inline-block;
    width: 160px;
    height: 43px;
    background: $yellow;
    border-radius: 8px;
    border: none;
    outline: none;
    margin: 0rem 0.3rem;
    padding: 0rem 0.3rem;
    cursor: pointer;
    margin-top: 2rem;
    color: $white;
}

@media screen and (max-width: 1050px) {
    .contact-tab-content{
        h1{
            font-size: 1.5rem;
        }
    }
  }
  @media screen and (max-width: 750px) {
    .contact-tab-contact{
        width: 140px;
        height: 33px;    
    }
    .contact-tab{
        img{
            width: 50%;
            height: 50%;
        }
    }
    .contact-tab-content{
        h1{
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 550px) {
        .contact-tab-content{
            h1{
                font-size: 1rem;
            }
        }
    }
  }
