    $font-family: 'Nunito', sans-serif;
    $navy-blue: #065a82;
    $blue-grotto: #00b4d8;
    $white: #eaeae0;
    $yellow: #ffc41f;
    $bluish-white:#caf0f8;
    $light-blue:#90e0ef;
    $font-size-normal: 400;
    $font-size-medium : 500;
    $font-size-bold: 700;
    $font-size-bolder: 900;




.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 5rem;

    p:nth-child(2){
        color: #000;
text-align: center;
font-family: Avenir;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 30%;
    }
    
}


.footer{
.nav-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
 p {color: #000;
text-align: center;
font-family: Avenir;
font-size: 1.1rem;
font-weight: 400;
width: 5.5625rem;
}
}
}




.copyright-section{
    color: #000;
text-align: center;
font-family: Avenir;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0.5rem;
}


@media screen and (max-width: 1050px) {

    .self-section{
        padding-right: 1rem;
        p{
            font-size: 0.7rem;
        }
    }
    .copyright-section{
        font-size: 0.7rem;
    }
};
