    $font-family: 'Nunito', sans-serif;
    $blue: #456BBE;
    $blue-grotto: #00b4d8;
    $black:#000;
    $white: #eaeae0;
    $yellow: #ffc41f;
    $bluish-white:#caf0f8;
    $light-blue:#90e0ef;
    $font-weight-normal: 400;
    $font-weight-medium : 500;
    $font-weight-bold: 700;
    $font-weight-bolder: 900;
   
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
}

// .blob{
//     position: absolute;
//     top: 50%;
//     left: 0%;
//     width: 20rem;
//   height: 20rem;
//   flex-shrink: 0;
//   border-radius: 20rem;
//   background: #416FE3;
//   filter: blur(200px);
//   }

.header-content {
    display: flex;
    gap: 1.75rem;
    flex-direction: column;
    p {
        color: #000;
        font-family: Avenir;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
        width: 70.2%;
    }
    margin-top: 11rem;
}

.heading {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem; /* 111.111% */
    width: 33rem;
}

.input {
  padding: 1rem 0rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.75rem;
}

.header-img-grid {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: 10px;
    width: 40%;
    margin-top: 5.88rem;
  }
  
  .photo {
    background-size:cover;
    background-repeat: no-repeat;

  }
  
  .photo1 {
    background-image: url('../../../assets/photo.jpg');
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 16rem; 
    height: 22rem;
  }
  
  .photo2 {
    background-image:url('../../../assets/photo2.jpg');
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 16.8125rem;
height: 15.1875rem;
  }
  
  .photo3 {
    background-image: url('../../../assets/photo3.jpg');
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 16rem;
height: 15.25rem;
  }
  
  .photo4 {
    background-image: url('../../../assets/photo4.jpg');
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 16.8125rem;
height: 16rem;
  }
  
  .photo5 {
    background-image: url('../../../assets/photo5.jpg');
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 16rem;
height: 15.9375rem;

  }
  
  .testimonial {
    margin-top: 8.31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2.5rem;
    height: 100%;
    

    
    .testimonial-text {
    color: #000;
text-align: right;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 130%;
width: 60%;
  }
  .testimonial-author{
    color: #000;
text-align: right;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 1.3rem */
margin-top: 1.5rem;
  }
}
  

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.trackbtn {
    width: 14.5rem;
    height: auto;
}
 
button.trackbtn .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.7rem;
    height: 2.7rem;
    background: $blue;
    border-radius: 1.625rem;
}

button.trackbtn .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.trackbtn .circle .icon.truck {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.755rem;
    width: 1.2rem;
    height: 1.2rem;
    background: none;
}

button.trackbtn .circle .icon.truck::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

button.trackbtn .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.578rem 0rem;
    margin: 0 0 0 0.2rem;
    color: $blue;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 83%;
}
 
button:hover .circle .icon.truck {
    -webkit-transform: translate(0.4rem, 0);
            transform: translate(0.4rem, 0);
}
  
button:hover .button-text {
    color: #fff;
}
     
@supports (display: grid) {
    input {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.625rem;
      grid-template-areas: ". main main ." ". main main .";
    }
   
    #container {
      grid-area: main;
      align-self:flex-start;
      justify-self: center;
    }
}

/* Responsive Design */

@media screen and (max-width: 1300px) {
    .header{
        margin: 0 5rem;
    }
    .header-img-grid{
        margin-right:5rem;
    }
    
}


@media screen and (max-width: 1150px) {
   
    .header-img-grid{
        display: none;
    }

    .header-content{
        margin-top: 6rem;
    }
    
}

@media screen and (max-width: 940px){
    
    .testimonial{
        margin-top: 4rem;
    }
}

@media screen and (max-width: 840px){
    body{
        width: 100%;
        border: 1px solid black;
    }
}

@media screen and (max-width: 500px) {
    
}