@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Nunito', sans-serif;
  --navy-blue: #065a82;
  --blue-grotto: #00b4d8;
  --white: #fff;
  --bluish-white:#caf0f8;
  --yellow: #f8b92a;
  --light-blue:#90e0ef;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  scroll-behavior: smooth;
}

body {
  background-color:hsl(0, 0%, 100%);
  /* background: 
  url("data:image/svg+xml,%3Csvg viewBox='0 0 254 254' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='30' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  overflow-x: hidden;
  opacity: 1;
}

a {
  color: unset;
  text-decoration: none;
}



.centre{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section_padding {
    padding: 1rem;
  }

  .section_margin {
    margin: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .section_padding {
    padding: 2rem 1rem;
  }
  
  .section_margin {
    margin: 2rem 1rem;
  }
}

